<a href="https://colab.research.google.com/github/Ravi-shankar100/ANN-Churn-Modelling/blob/master/Churn_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q keras

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
X = dataset.iloc[:, 3:13]
y= dataset.iloc[:, -1]

In [ ]:
##Create Dummy Variable
geography = pd.get_dummies(X['Geography'], drop_first= True)
gender = pd.get_dummies(X['Gender'], drop_first= True)

In [ ]:
X = pd.concat([X,geography,gender],axis= 1)

In [ ]:
X.head(10)

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0
5          645     Spain    Male   44  ...        149756.71        0      1     1
6          822    France    Male   50  ...         10062.80        0      0     1
7          376   Germany  Female   29  ...        119346.88        1      0     0
8          501    France    Male   44  ...         74940.50        0      0     1
9          684    France    Male   27  ...         71725.73        0      0     1

[10 rows x 13 columns]

In [ ]:
X= X.drop(labels= ['Geography','Gender'],axis= 1)

In [ ]:
X.head()

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2       0.00  ...        101348.88        0      0     0
1          608   41       1   83807.86  ...        112542.58        0      1     0
2          502   42       8  159660.80  ...        113931.57        0      0     0
3          699   39       1       0.00  ...         93826.63        0      0     0
4          850   43       2  125510.82  ...         79084.10        0      1     0

[5 rows x 11 columns]

In [ ]:
##Splitting the dataset into training and test dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state= 0)

In [ ]:
##Feature Scaling
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

X_train= sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [ ]:
##Lets import the ANN

##Import All the necessary Libraries

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:
##Intializing the ANN
classifier = Sequential()

In [ ]:
##Adding the input layer and the first hidden layer
classifier.add(Dense(units= 10,kernel_initializer= 'he_uniform',activation= 'relu',input_dim= 11))

In [ ]:
##Adding the second hidden layer
classifier.add(Dense(units= 10,kernel_initializer= 'he_uniform',activation= 'relu'))

In [ ]:
##Adding the third hidden layer
classifier.add(Dense(units= 10,kernel_initializer= 'he_uniform',activation= 'relu'))

In [ ]:
##Adding the output layer
classifier.add(Dense(units= 1,kernel_initializer= 'glorot_uniform',activation= 'sigmoid'))

In [ ]:
##Compiling the ANN
classifier.compile(optimizer= 'adam', loss= 'binary_crossentropy',metrics= ['accuracy'])

In [ ]:
##Fitting the ANN to the Training Set
model_history= classifier.fit(X_train,y_train,validation_split= 0.33,batch_size= 10,nb_epoch= 100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 3s 573us/step - loss: 0.5222 - accuracy: 0.7765 - val_loss: 0.4803 - val_accuracy: 0.7959
Epoch 2/100
5359/5359 [==============================] - 3s 548us/step - loss: 0.4510 - accuracy: 0.8016 - val_loss: 0.4348 - val_accuracy: 0.8107
Epoch 3/100
5359/5359 [==============================] - 3s 550us/step - loss: 0.4078 - accuracy: 0.8231 - val_loss: 0.4048 - val_accuracy: 0.8292
Epoch 4/100
5359/5359 [==============================] - 3s 541us/step - loss: 0.3836 - accuracy: 0.8380 - val_loss: 0.3887 - val_accuracy: 0.8402
Epoch 5/100
5359/5359 [==============================] - 3s 539us/step - loss: 0.3682 - accuracy: 0.8494 - val_loss: 0.3838 - val_accuracy: 0.8372
Epoch 6/100
5359/5359 [==============================] - 3s 541us/step - loss: 0.3586 - accuracy: 0.8498 - val_loss: 0.3780 - val_accuracy: 0.8448
Epoch 7/100
5359/5359 [==============================] - 3s 537us/step - loss: 0.3514 - accuracy: 0.8545 - val_loss: 0.3732 - val_accuracy: 0.8459
Epoch 8/100
5359/5359 [==============================] - 3s 533us/step - loss: 0.3459 - accuracy: 0.8556 - val_loss: 0.3680 - val_accuracy: 0.8463
Epoch 9/100
5359/5359 [==============================] - 3s 545us/step - loss: 0.3412 - accuracy: 0.8572 - val_loss: 0.3668 - val_accuracy: 0.8501
Epoch 10/100
5359/5359 [==============================] - 3s 537us/step - loss: 0.3396 - accuracy: 0.8625 - val_loss: 0.3654 - val_accuracy: 0.8527
Epoch 11/100
5359/5359 [==============================] - 3s 539us/step - loss: 0.3353 - accuracy: 0.8623 - val_loss: 0.3718 - val_accuracy: 0.8436
Epoch 12/100
5359/5359 [==============================] - 3s 540us/step - loss: 0.3343 - accuracy: 0.8621 - val_loss: 0.3661 - val_accuracy: 0.8497
Epoch 13/100
5359/5359 [==============================] - 3s 548us/step - loss: 0.3331 - accuracy: 0.8656 - val_loss: 0.3643 - val_accuracy: 0.8512
Epoch 14/100
5359/5359 [==============================] - 3s 532us/step - loss: 0.3314 - accuracy: 0.8634 - val_loss: 0.3646 - val_accuracy: 0.8497
Epoch 15/100
5359/5359 [==============================] - 3s 534us/step - loss: 0.3295 - accuracy: 0.8681 - val_loss: 0.3643 - val_accuracy: 0.8508
Epoch 16/100
5359/5359 [==============================] - 3s 527us/step - loss: 0.3287 - accuracy: 0.8664 - val_loss: 0.3635 - val_accuracy: 0.8504
Epoch 17/100
5359/5359 [==============================] - 3s 529us/step - loss: 0.3277 - accuracy: 0.8649 - val_loss: 0.3630 - val_accuracy: 0.8519
Epoch 18/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3268 - accuracy: 0.8668 - val_loss: 0.3653 - val_accuracy: 0.8508
Epoch 19/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3263 - accuracy: 0.8688 - val_loss: 0.3662 - val_accuracy: 0.8519
Epoch 20/100
5359/5359 [==============================] - 3s 560us/step - loss: 0.3261 - accuracy: 0.8673 - val_loss: 0.3617 - val_accuracy: 0.8535
Epoch 21/100
5359/5359 [==============================] - 3s 605us/step - loss: 0.3260 - accuracy: 0.8683 - val_loss: 0.3616 - val_accuracy: 0.8535
Epoch 22/100
5359/5359 [==============================] - 3s 557us/step - loss: 0.3251 - accuracy: 0.8699 - val_loss: 0.3614 - val_accuracy: 0.8516
Epoch 23/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3242 - accuracy: 0.8660 - val_loss: 0.3612 - val_accuracy: 0.8538
Epoch 24/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3242 - accuracy: 0.8703 - val_loss: 0.3618 - val_accuracy: 0.8527
Epoch 25/100
5359/5359 [==============================] - 3s 538us/step - loss: 0.3233 - accuracy: 0.8683 - val_loss: 0.3624 - val_accuracy: 0.8535
Epoch 26/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3222 - accuracy: 0.8720 - val_loss: 0.3606 - val_accuracy: 0.8531
Epoch 27/100
5359/5359 [==============================] - 3s 538us/step - loss: 0.3227 - accuracy: 0.8683 - val_loss: 0.3597 - val_accuracy: 0.8538
Epoch 28/100
5359/5359 [==============================] - 3s 537us/step - loss: 0.3229 - accuracy: 0.8692 - val_loss: 0.3599 - val_accuracy: 0.8501
Epoch 29/100
5359/5359 [==============================] - 3s 576us/step - loss: 0.3228 - accuracy: 0.8694 - val_loss: 0.3606 - val_accuracy: 0.8535
Epoch 30/100
5359/5359 [==============================] - 3s 597us/step - loss: 0.3224 - accuracy: 0.8705 - val_loss: 0.3601 - val_accuracy: 0.8550
Epoch 31/100
5359/5359 [==============================] - 3s 602us/step - loss: 0.3213 - accuracy: 0.8692 - val_loss: 0.3605 - val_accuracy: 0.8516
Epoch 32/100
5359/5359 [==============================] - 3s 575us/step - loss: 0.3227 - accuracy: 0.8698 - val_loss: 0.3611 - val_accuracy: 0.8519
Epoch 33/100
5359/5359 [==============================] - 3s 542us/step - loss: 0.3215 - accuracy: 0.8729 - val_loss: 0.3614 - val_accuracy: 0.8531
Epoch 34/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3215 - accuracy: 0.8677 - val_loss: 0.3603 - val_accuracy: 0.8542
Epoch 35/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3209 - accuracy: 0.8696 - val_loss: 0.3592 - val_accuracy: 0.8512
Epoch 36/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3211 - accuracy: 0.8716 - val_loss: 0.3614 - val_accuracy: 0.8504
Epoch 37/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3210 - accuracy: 0.8684 - val_loss: 0.3613 - val_accuracy: 0.8519
Epoch 38/100
5359/5359 [==============================] - 3s 544us/step - loss: 0.3201 - accuracy: 0.8707 - val_loss: 0.3616 - val_accuracy: 0.8512
Epoch 39/100
5359/5359 [==============================] - 3s 534us/step - loss: 0.3201 - accuracy: 0.8688 - val_loss: 0.3610 - val_accuracy: 0.8497
Epoch 40/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3210 - accuracy: 0.8716 - val_loss: 0.3579 - val_accuracy: 0.8516
Epoch 41/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3206 - accuracy: 0.8711 - val_loss: 0.3591 - val_accuracy: 0.8519
Epoch 42/100
5359/5359 [==============================] - 3s 540us/step - loss: 0.3186 - accuracy: 0.8722 - val_loss: 0.3592 - val_accuracy: 0.8508
Epoch 43/100
5359/5359 [==============================] - 3s 534us/step - loss: 0.3203 - accuracy: 0.8701 - val_loss: 0.3582 - val_accuracy: 0.8531
Epoch 44/100
5359/5359 [==============================] - 3s 538us/step - loss: 0.3191 - accuracy: 0.8701 - val_loss: 0.3602 - val_accuracy: 0.8535
Epoch 45/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3193 - accuracy: 0.8699 - val_loss: 0.3573 - val_accuracy: 0.8519
Epoch 46/100
5359/5359 [==============================] - 3s 526us/step - loss: 0.3184 - accuracy: 0.8705 - val_loss: 0.3603 - val_accuracy: 0.8501
Epoch 47/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3184 - accuracy: 0.8701 - val_loss: 0.3590 - val_accuracy: 0.8512
Epoch 48/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3181 - accuracy: 0.8686 - val_loss: 0.3572 - val_accuracy: 0.8538
Epoch 49/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3173 - accuracy: 0.8733 - val_loss: 0.3634 - val_accuracy: 0.8489
Epoch 50/100
5359/5359 [==============================] - 3s 530us/step - loss: 0.3176 - accuracy: 0.8703 - val_loss: 0.3611 - val_accuracy: 0.8535
Epoch 51/100
5359/5359 [==============================] - 3s 532us/step - loss: 0.3176 - accuracy: 0.8712 - val_loss: 0.3596 - val_accuracy: 0.8504
Epoch 52/100
5359/5359 [==============================] - 3s 540us/step - loss: 0.3172 - accuracy: 0.8716 - val_loss: 0.3581 - val_accuracy: 0.8531
Epoch 53/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3162 - accuracy: 0.8707 - val_loss: 0.3598 - val_accuracy: 0.8485
Epoch 54/100
5359/5359 [==============================] - 3s 533us/step - loss: 0.3167 - accuracy: 0.8718 - val_loss: 0.3619 - val_accuracy: 0.8493
Epoch 55/100
5359/5359 [==============================] - 3s 537us/step - loss: 0.3166 - accuracy: 0.8705 - val_loss: 0.3573 - val_accuracy: 0.8489
Epoch 56/100
5359/5359 [==============================] - 3s 545us/step - loss: 0.3156 - accuracy: 0.8735 - val_loss: 0.3577 - val_accuracy: 0.8519
Epoch 57/100
5359/5359 [==============================] - 3s 525us/step - loss: 0.3156 - accuracy: 0.8698 - val_loss: 0.3598 - val_accuracy: 0.8531
Epoch 58/100
5359/5359 [==============================] - 3s 528us/step - loss: 0.3165 - accuracy: 0.8705 - val_loss: 0.3605 - val_accuracy: 0.8485
Epoch 59/100
5359/5359 [==============================] - 3s 525us/step - loss: 0.3154 - accuracy: 0.8722 - val_loss: 0.3593 - val_accuracy: 0.8493
Epoch 60/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3145 - accuracy: 0.8718 - val_loss: 0.3617 - val_accuracy: 0.8512
Epoch 61/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3151 - accuracy: 0.8739 - val_loss: 0.3605 - val_accuracy: 0.8527
Epoch 62/100
5359/5359 [==============================] - 3s 527us/step - loss: 0.3147 - accuracy: 0.8731 - val_loss: 0.3589 - val_accuracy: 0.8512
Epoch 63/100
5359/5359 [==============================] - 3s 530us/step - loss: 0.3147 - accuracy: 0.8735 - val_loss: 0.3587 - val_accuracy: 0.8535
Epoch 64/100
5359/5359 [==============================] - 3s 547us/step - loss: 0.3143 - accuracy: 0.8731 - val_loss: 0.3593 - val_accuracy: 0.8504
Epoch 65/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3146 - accuracy: 0.8724 - val_loss: 0.3612 - val_accuracy: 0.8493
Epoch 66/100
5359/5359 [==============================] - 3s 530us/step - loss: 0.3139 - accuracy: 0.8714 - val_loss: 0.3603 - val_accuracy: 0.8531
Epoch 67/100
5359/5359 [==============================] - 3s 533us/step - loss: 0.3137 - accuracy: 0.8712 - val_loss: 0.3598 - val_accuracy: 0.8516
Epoch 68/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3138 - accuracy: 0.8716 - val_loss: 0.3598 - val_accuracy: 0.8512
Epoch 69/100
5359/5359 [==============================] - 3s 538us/step - loss: 0.3133 - accuracy: 0.8724 - val_loss: 0.3601 - val_accuracy: 0.8508
Epoch 70/100
5359/5359 [==============================] - 3s 527us/step - loss: 0.3130 - accuracy: 0.8714 - val_loss: 0.3612 - val_accuracy: 0.8512
Epoch 71/100
5359/5359 [==============================] - 3s 528us/step - loss: 0.3139 - accuracy: 0.8714 - val_loss: 0.3592 - val_accuracy: 0.8504
Epoch 72/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3137 - accuracy: 0.8731 - val_loss: 0.3601 - val_accuracy: 0.8519
Epoch 73/100
5359/5359 [==============================] - 3s 529us/step - loss: 0.3125 - accuracy: 0.8729 - val_loss: 0.3656 - val_accuracy: 0.8531
Epoch 74/100
5359/5359 [==============================] - 3s 527us/step - loss: 0.3128 - accuracy: 0.8731 - val_loss: 0.3620 - val_accuracy: 0.8512
Epoch 75/100
5359/5359 [==============================] - 3s 550us/step - loss: 0.3129 - accuracy: 0.8726 - val_loss: 0.3588 - val_accuracy: 0.8531
Epoch 76/100
5359/5359 [==============================] - 3s 540us/step - loss: 0.3122 - accuracy: 0.8722 - val_loss: 0.3619 - val_accuracy: 0.8516
Epoch 77/100
5359/5359 [==============================] - 3s 536us/step - loss: 0.3124 - accuracy: 0.8724 - val_loss: 0.3621 - val_accuracy: 0.8531
Epoch 78/100
5359/5359 [==============================] - 3s 532us/step - loss: 0.3122 - accuracy: 0.8720 - val_loss: 0.3624 - val_accuracy: 0.8512
Epoch 79/100
5359/5359 [==============================] - 3s 527us/step - loss: 0.3128 - accuracy: 0.8739 - val_loss: 0.3620 - val_accuracy: 0.8493
Epoch 80/100
5359/5359 [==============================] - 3s 518us/step - loss: 0.3121 - accuracy: 0.8742 - val_loss: 0.3615 - val_accuracy: 0.8523
Epoch 81/100
5359/5359 [==============================] - 3s 529us/step - loss: 0.3122 - accuracy: 0.8727 - val_loss: 0.3632 - val_accuracy: 0.8523
Epoch 82/100
5359/5359 [==============================] - 3s 525us/step - loss: 0.3112 - accuracy: 0.8740 - val_loss: 0.3674 - val_accuracy: 0.8497
Epoch 83/100
5359/5359 [==============================] - 3s 534us/step - loss: 0.3114 - accuracy: 0.8735 - val_loss: 0.3633 - val_accuracy: 0.8516
Epoch 84/100
5359/5359 [==============================] - 3s 527us/step - loss: 0.3113 - accuracy: 0.8724 - val_loss: 0.3651 - val_accuracy: 0.8512
Epoch 85/100
5359/5359 [==============================] - 3s 531us/step - loss: 0.3115 - accuracy: 0.8716 - val_loss: 0.3623 - val_accuracy: 0.8497
Epoch 86/100
5359/5359 [==============================] - 3s 542us/step - loss: 0.3108 - accuracy: 0.8737 - val_loss: 0.3633 - val_accuracy: 0.8523
Epoch 87/100
5359/5359 [==============================] - 3s 528us/step - loss: 0.3107 - accuracy: 0.8714 - val_loss: 0.3662 - val_accuracy: 0.8512
Epoch 88/100
5359/5359 [==============================] - 3s 528us/step - loss: 0.3105 - accuracy: 0.8727 - val_loss: 0.3632 - val_accuracy: 0.8523
Epoch 89/100
5359/5359 [==============================] - 3s 516us/step - loss: 0.3095 - accuracy: 0.8726 - val_loss: 0.3645 - val_accuracy: 0.8497
Epoch 90/100
5359/5359 [==============================] - 3s 526us/step - loss: 0.3096 - accuracy: 0.8733 - val_loss: 0.3659 - val_accuracy: 0.8485
Epoch 91/100
5359/5359 [==============================] - 3s 530us/step - loss: 0.3107 - accuracy: 0.8726 - val_loss: 0.3650 - val_accuracy: 0.8501
Epoch 92/100
5359/5359 [==============================] - 3s 518us/step - loss: 0.3107 - accuracy: 0.8744 - val_loss: 0.3628 - val_accuracy: 0.8519
Epoch 93/100
5359/5359 [==============================] - 3s 514us/step - loss: 0.3100 - accuracy: 0.8729 - val_loss: 0.3690 - val_accuracy: 0.8482
Epoch 94/100
5359/5359 [==============================] - 3s 521us/step - loss: 0.3101 - accuracy: 0.8729 - val_loss: 0.3630 - val_accuracy: 0.8527
Epoch 95/100
5359/5359 [==============================] - 3s 524us/step - loss: 0.3099 - accuracy: 0.8714 - val_loss: 0.3645 - val_accuracy: 0.8508
Epoch 96/100
5359/5359 [==============================] - 3s 515us/step - loss: 0.3090 - accuracy: 0.8729 - val_loss: 0.3664 - val_accuracy: 0.8538
Epoch 97/100
5359/5359 [==============================] - 3s 515us/step - loss: 0.3088 - accuracy: 0.8757 - val_loss: 0.3691 - val_accuracy: 0.8501
Epoch 98/100
5359/5359 [==============================] - 3s 513us/step - loss: 0.3084 - accuracy: 0.8739 - val_loss: 0.3657 - val_accuracy: 0.8493
Epoch 99/100
5359/5359 [==============================] - 3s 509us/step - loss: 0.3084 - accuracy: 0.8774 - val_loss: 0.3723 - val_accuracy: 0.8512
Epoch 100/100
5359/5359 [==============================] - 3s 508us/step - loss: 0.3093 - accuracy: 0.8739 - val_loss: 0.3660 - val_accuracy: 0.8482

In [ ]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score

cm= confusion_matrix(y_test,y_pred)
print(cm)
accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

[[1502   93]
 [ 206  199]]
0.8505